<div class="container">
 <div class="payments">
   <div class="inputs">
    <h3>Effectuer un paiment</h3>
    <form [formGroup]="form">
      <mat-form-field>
          <mat-label>Montant</mat-label>
          <input matInput type="number" #amountInput [(ngModel)]="repair.cost" formControlName="amount">
          <mat-error>Champ requis</mat-error>
      </mat-form-field>
    </form>
    <button mat-raised-button color="primary" (click)="onSubmit(form)">Payer</button>
  </div>
  <div class="list">
    <h3>Paiement effectué le :{{payment?.createdAt}}</h3>
    <button mat-raised-button color="primary" (click)="viewReceipt()">Voir la facture</button>
  </div>
 </div>
</div>
