<div class="container">
    <div class="navbar">
        <div class="logo">
            <p>logo</p>
        </div>
        <div class="link-container">
            <div class="links" id="client">
                <a routerLink="garage/cars">
                    <img src="" alt="">
                    <p>Voitures</p>
                </a>
                <a routerLink="garage/repairs">
                    <img src="" alt="">
                    <p>Reparations</p>
                </a>
                <a routerLink="garage/profil">
                    <img src="" alt="">
                    <p>Mon compte</p>
                </a>
            </div>
            <div class="links" id="workshop">
                <a routerLink="workshop/repairs">
                    <img src="" alt="">
                    <p>Reparations</p>
                </a>
                <a routerLink="workshop/operations">
                    <img src="" alt="">
                    <p>Operations</p>
                </a>

            </div>
            <div class="links" id="finance">
                <a routerLink="fincance/dashboard">
                    <img src="" alt="">
                    <p>Tableau de bord</p>
                </a>
                <a routerLink="fincance/payments">
                    <img src="" alt="">
                    <p>Payments</p>
                </a>
                <a routerLink="finance/administration">
                    <img src="" alt="">
                    <p>Administration</p>
                </a>
            </div>
        </div>
        <div class="logged">
            <p>logged</p>
        </div>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
    <div class="footer">
        <p>Footer Here</p>
    </div>
</div>