<div class="container">
    <div class="navbar">
        <div class="logo">
            <p>logo</p>
        </div>
        <div class="link-container">
            <div class="links" id="client">
                <a routerLink="garage/cars" routerLinkActive="active">
                    <img src="" alt=""> Voitures
                </a>
                <a routerLink="garage/repairs" routerLinkActive="active">
                    <img src="" alt=""> Reparations
                </a>
                <a routerLink="garage/profil" routerLinkActive="active">
                    <img src="" alt=""> Mon compte
                </a>

            </div>
            <div class="links" id="workshop" routerLinkActive="active">
                <a routerLink="workshop/repairs">
                    <img src="" alt=""> Reparations
                </a>
                <a routerLink="workshop/operations" routerLinkActive="active">
                    <img src="" alt=""> Operations
                </a>

            </div>
            <div class="links" id="finance">
                <a routerLink="fincance/dashboard" routerLinkActive="active">
                    <img src="" alt=""> Tableau de bord
                </a>
                <a routerLink="fincance/payments" routerLinkActive="active">
                    <img src="" alt=""> Payments
                </a>
                <a routerLink="finance/administration" routerLinkActive="active">
                    <img src="" alt=""> Administration
                </a>
            </div>
        </div>
        <div class="logged">
            <p>logged</p>
        </div>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
    <div class="footer">
        <p>Footer Here</p>
    </div>
</div>