<div class="container">
    <div class="headers">
        <div class="client">
            <p>Client : </p>
            <p>Voiture : </p>
            <p>Reparation du</p>
        </div>
        <div class="garage">
            <p>Garage app</p>
        </div>
    </div>
    <div class="operations">
      <table>
        <thead>
          <tr>
            <th>No</th>
            <th>Operation</th>
            <th>Coût</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Operation</td>
            <td>Cout</td>
          </tr>
        </tbody>
      </table>
    </div>
    <p>Total : <span>0</span></p>
    <p>Payé le:</p>
</div>
