.data-table{
  border-collapse: collapse;
  width: 100%;
}

.data-table td, .data-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.dialog-title{
  background: #3f51b5;
  color: white;
}

.mat-typography h1 {
  margin: 0;
}

.data-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #d3d3d39f;
  color: rgba(0, 0, 0, 0.863);
  font-weight: 500;
}

.data-table tr:nth-child(even){color: rgba(0, 0, 0, 0.795);}

.data-table tfoot tr th{
  background-color: #f2f2f2;;
}

.left{
  float: left;
}

.right{
  float: right;
}

p{
  color: rgba(0, 0, 0, 0.932);
}

.btn-close {
  float: right;
  background-color: rgba(255, 0, 0, 0.692);
  color: white;
  font-size: medium;
  padding: 13px;
}

.btn-close:hover{
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.925);
  font-weight: bold;
}
