@font-face {
  font-family: Poppins-Regular;
  src: url('../../../assets/fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../../../assets/fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../../../assets/fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../../../assets/fonts/poppins/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../../../assets/fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url('../../../assets/fonts/montserrat/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: Montserrat-Regular;
  src: url('../../../assets/fonts/montserrat/Montserrat-Regular.ttf');
}

.container{
  margin: 20px;
}

.mat-mdc-card-header {
  padding: 0;
  background-color: transparent;
}

.mat-mdc-card-header {
  flex-direction: row-reverse;
}

.mat-row:hover .mat-cell{
  background-color: rgba(0, 0, 0, 0.123);
}

.mat-mdc-row .mat-mdc-cell {
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: rgba(0, 0, 0, 0.075);
  border-top: 1px solid rgba(0, 0, 0, 0.322);
  border-bottom: 1px solid rgba(0, 0, 0, 0.322);
}

.mat-mdc-card-content {
  padding: 0;
}

.mat-mdc-card-content:last-child {
  padding-bottom: 0;
}

.right{
  float: right;
}

.col-1, .col-2, .col-3, .col-5{
  width: 16%;
}

.col-4{
width: 20%;
}

.col-6{
  width: 16%;
}

.mat-mdc-card {
  box-shadow: unset;
}

.mat-mdc-unelevated-button {
   border-radius: unset;
}

.mat-mdc-card {
  border-radius: unset;
}

.mat-mdc-table {
  border: 1px solid rgba(128, 128, 128, 0.411);
}

.mat-mdc-unelevated-button>.mat-icon, .mat-mdc-raised-button>.mat-icon, .mat-mdc-outlined-button>.mat-icon {
  margin-left: 0;
  margin-right: 0;
}

.search-bar-container input{
  border: 1px solid rgba(128, 128, 128, 0.411);
  border-bottom: 0;
  border-right: 0;
  height: 35px;
  width: 400px;
  padding: 0 11px;
}

.search-bar-container input:focus,
.search-bar-container input:focus-visible:focus:not(:focus-visible) {
  outline: 0;
}

.button-actions .btn-search{
  background-color: rgba(124, 123, 123, 0.459)!important;
}

.button-actions .btn-search .mat-icon{
  font-weight: bold;
}

.mat-mdc-button.mat-mdc-button-base, .mat-mdc-raised-button.mat-mdc-button-base, .mat-mdc-unelevated-button.mat-mdc-button-base, .mat-mdc-outlined-button.mat-mdc-button-base {
  height: 37px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.hide{
  display: none;
}

.show{
  display: flow-root;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}

.list table{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.list table thead,
.list table tbody{
  width: 100%;
}

.list table tbody{
  display: flex;
  flex-direction: column;
}

.list table thead tr,
.list table tbody tr{
  width: 100%;
  text-align: left;
}

.list table thead{
  background-color: #6675df;
  font-family: Poppins-Bold;
  color: #fff;
}

.list table thead tr th{
  height: 45px;
  width: 14vw;
  text-align: center;
}

.list table tbody tr{
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 1, 0.232);
  margin: 5px 0;
  font-family: Poppins-REgular;
}
.list table tbody tr td{
  height: 45px;
  background-color: #fff;
  width: 14vw;
}

td,tr{
  text-align: center;
}

#pay{
  color: rgb(55, 196, 55);
  cursor: pointer;
}
