<div class="loading-container" [ngClass]="{'hide':!isLoading}">
  <mat-spinner></mat-spinner>
</div>

<div class="container" [ngClass]="{'hide':isLoading, 'show':!isLoading}">

  <mat-card>
    <mat-card-header>

      <div class="button-actions">
        <button mat-flat-button class="btn-search" (click)="onSearchClick()" [disabled]="disableCheck()">
          <mat-icon>search</mat-icon>
        </button>
        <button mat-flat-button color="primary" class="btn-add" (click)="onAddClick()">
          <span class="btn-add-role-name"></span>
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <div class="search-bar-container mat-elevation-z3">
        <input type="text" placeholder=" Rechercher .... ">
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="list">
        <table>
            <thead>
                <tr>
                    <th>No</th>
                    <th>Client</th>
                    <th>Vehicule</th>
                    <th>Côut</th>
                    <th>Operations</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let repair of repairs; let i=index">
                    <td>{{i + 1}}</td>
                    <ng-container
                    *ngTemplateOutlet=" detailTemplate; context:{$implicit:repair}">
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #detailTemplate let-repair>

  <td>{{repair.car.client.firstName}} {{repair.car.client.lastName}}</td>
  <td>{{repair.car.registration}} </td>
  <td>{{repair.cost}}</td>
  <td>{{repair.operations.length}}</td>
  <td class="actions">
      <mat-icon class="mat-18" id="pay" (click)="onAddClick()" >money</mat-icon>
  </td>
</ng-template>
