.container {
    width: 100%;
}

.list-layout {
    width: 70%;
    display: grid;
    margin: auto;
    grid-template-rows: 60px auto;
    gap: 30px;
    grid-template-areas: "search" "list";
}

.search-bar {
    background-color: red;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar form {
    width: 70%;
    display: block;
}

.search-bar form input {
    all: unset;
    width: 100%;
    display: block;
    margin: auto;
    background-color: #fff;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
}

.search-bar button {
    all: unset;
    height: 64%;
    background-color: green;
    width: 50px;
    text-align: center;
}

.search-bar button:hover {
    cursor: pointer;
}

.search-bar button img {
    width: 20px;
    height: 20px;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    display: grid;
    width: 45%;
    grid-template-columns: 20% 80%;
    align-items: center;
    position: relative;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 1, 0.232);
    padding: 10px;
}

.sign {
    width: 80px;
}

.action-icon {
    width: 20px;
}

.card-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.action-icon {
    border-radius: 30%;
    padding: 5px;
    z-index: 2;
}

.mat-icon:hover {
    cursor: pointer;
}

#edit,
#done {
    color: #26b46a;
}

#delete,
#close {
    color: #da0c3f;
}

#list {
    color: #2e2e2e;
}