<div class="loading-container" [ngClass]="{'hide':!isLoading}">
  <mat-spinner></mat-spinner>
</div>

<div class="container" *ngIf="!isLoading">
    <div class="list-layout">
        <div class="search-bar">
            <mat-form-field appearance="outline">
                <mat-label>Rechercher</mat-label>
                <input matInput type="text " [(ngModel)]="searchTerm">
                <button matSuffix (click)="search()">
                    <mat-icon  class="mat-18" >search</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="add" (click)="create()">
            <mat-icon>add</mat-icon>
            <h3>Deposer une voiture</h3>
        </div>
        <div class="list">
            <div class="card" *ngIf="isNew">
                <img [src]="'/assets/images/green-car.png'" alt="" class="sign">
                <div class="info">
                    <form [formGroup]="form">
                        <mat-form-field>
                            <mat-label>Numero d'immatriculation</mat-label>
                            <input matInput type="text " #registrationInput formControlName="registration">
                            <mat-error> Champ requis</mat-error>
                        </mat-form-field>
                        <div class="split">
                            <mat-form-field MatFormFieldControl="brand ">
                                <mat-label>Marque</mat-label>
                                <input matInput="" type="text " #brandInput formControlName="brand">
                                <mat-error> Champ requis</mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Modèle</mat-label>
                                <input matInput type="text " #modelInput formControlName="model">
                                <mat-error> Champ requis</mat-error>
                            </mat-form-field>
                        </div>
                    </form>
                    <div class="card-actions ">
                      <button mat-icon-button *ngIf="isEditing || isNew" id="done" (click)="saveCar(form)"><mat-icon>done</mat-icon></button>
                      <button mat-icon-button *ngIf="isEditing || isNew" (click)="cancelEdit()" id="close"><mat-icon>close</mat-icon></button>
                    </div>
                </div>
            </div>
            <div class="card" *ngFor="let car of cars">
                <img [src]="car.isInReparation ? '/assets/images/red-car.png' : '/assets/images/green-car.png'" alt="" class="sign">
                <div class="info">
                    <div class="card-content">
                        <ng-container *ngTemplateOutlet="car._id === currentCar?._id && isEditing ? carForm : carDetail ; context:{$implicit:car}">
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #carDetail let-car>
    <div class="card-content ">
        <h4>{{car?.registration}}</h4>
        <p>{{car?.brand}}-{{car?.model}} </p>
    </div>
    <div class="card-actions">
      <button mat-icon-button *ngIf="!isEditing" (click)="openHistory(car._id)" id="list"><mat-icon>list</mat-icon></button>
      <button mat-icon-button *ngIf="!isEditing" (click)="edit(car) " id="edit"><mat-icon>edit</mat-icon></button>
      <button mat-icon-button *ngIf="!isEditing" (click)="onDelete(car._id) " id="delete"><mat-icon>delete</mat-icon></button>
    </div>
</ng-template>


<ng-template #carForm>
    <ng-container>
        <form [formGroup]="form">
            <mat-form-field>
                <mat-label>Numero d'immatriculation</mat-label>
                <input matInput type="text " #registrationInput formControlName="registration">
                <mat-error> Champ requis</mat-error>
            </mat-form-field>
            <div class="split">
                <mat-form-field MatFormFieldControl="brand ">
                    <mat-label>Marque</mat-label>
                    <input matInput="" type="text " #brandInput formControlName="brand">
                    <mat-error> Champ requis</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Modèle</mat-label>
                    <input matInput type="text " #modelInput formControlName="model">
                    <mat-error> Champ requis</mat-error>
                </mat-form-field>
            </div>
        </form>
        <div class="card-actions ">
          <button mat-icon-button *ngIf="isEditing || isNew" id="done" (click)="saveCar(form)"><mat-icon>done</mat-icon></button>
          <button mat-icon-button *ngIf="isEditing || isNew" (click)="cancelEdit()" id="close"><mat-icon>close</mat-icon></button>
        </div>
    </ng-container>
</ng-template>
