<div class="container">
    <div class="list-layout">
        <div class="search-bar">
            <mat-form-field appearance="outline">
                <mat-label>Rechercher</mat-label>
                <input matInput type="text " [(ngModel)]="searchTerm">
                <button matSuffix (click)="search()">
                    <mat-icon  class="mat-18">search</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="add" (click)="create()">
            <mat-icon class="mat-18">add</mat-icon>
            <h3>Ajouter une operation</h3>
        </div>
        <div class="list">
            <table>
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Designation</th>
                        <th>Cout</th>
                        <th>Durée</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="isNew">
                        <ng-container *ngTemplateOutlet="editTemplate"> 
                        </ng-container>
                    </tr>
                    <tr *ngFor="let operation of operations; let index">
                        <ng-container 
                        *ngTemplateOutlet="operation._id === currentOperation?._id && isEditing? editTemplate : detailTemplate; context:{$implicit:operation}">
                        </ng-container>    
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #detailTemplate let-operation>
    <td></td>
    <td>{{operation.label}}</td>
    <td>{{operation.cost}} </td>
    <td>{{operation.duration}}</td>
    <td>
        <mat-icon class="mat-18" (click)="edit(operation)">edit</mat-icon>
        <mat-icon class="mat-18" >delete</mat-icon>
    </td>
</ng-template>

<ng-template #editTemplate let-operation>
    <ng-container [formGroup]="form">
        <td></td>
        <td>
            <mat-form-field>
                <mat-label>Designation</mat-label>
                <input matInput type="text " #labelInput formControlName="label">
                <mat-error> Champ requis</mat-error>
            </mat-form-field>
        </td>
        <td>
            <mat-form-field>
                <mat-label>Cout</mat-label>
                <input matInput type="number " #costInput formControlName="cost">
                <mat-error> Champ requis</mat-error>
            </mat-form-field>
        </td>
        <td>
            <mat-form-field>
                <mat-label>Durée</mat-label>
                <input matInput type="text " #durationInput formControlName="duration">
                <mat-error> Champ requis</mat-error>
            </mat-form-field>
        </td>
        <td>
            <mat-icon class="mat-18" (click)="saveOperation(form)">check</mat-icon>
            <mat-icon class="mat-18" (click)="cancel()">close</mat-icon>
        </td>
    </ng-container>
</ng-template>

