@font-face {
    font-family: Montserrat-Bold;
    src: url('../../../assets/fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url('../../../assets/fonts/montserrat/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: Montserrat-Regular;
    src: url('../../../assets/fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: Poppins-Regular;
    src: url('../../../assets/fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../../../assets/fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../../../assets/fonts/poppins/Poppins-Bold.ttf');
}

.container {
    width: 100%;
}

.list-layout {
    width: 70%;
    display: grid;
    margin: auto;
    grid-template-rows: 60px auto;
    gap: 30px;
    margin-top: 20px;
    grid-template-areas: "search" "list";
}

.search-bar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar mat-form-field {
    flex-direction: row;
    width: 70%;
}

.search-bar mat-form-field input {
    width: 60%;
}

::ng-deep .search-bar .mat-mdc-form-field-bottom-align {
    display: none !important;
}

.search-bar button {
    all: unset;
    margin-right: 10px;
}

.search-bar button mat-icon {
    font-size: 30px;
}

.search-bar button mat-icon:hover {
    cursor: pointer;
}

.add {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
    width: fit-content;
}

.add mat-icon {
    background-color: #6675df;
    border-radius: 50%;
    color: #fff;
}

.add h3 {
    margin: unset;
    color: #6675df;
    font-family: Poppins-Medium;
}

.add h3 {
    cursor: pointer;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.list table{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.list table thead, 
.list table tbody{
    width: 100%;
}

.list table tbody{
    display: flex;
    flex-direction: column;
}

.list table thead tr, 
.list table tbody tr{
    width: 100%;
    text-align: left;
}

.list table thead{
    background-color: #6675df;
    font-family: Poppins-Bold;
    color: #fff;
}

.list table tbody{
    height: 50vh;
}

.list table thead tr th{
    height: 45px;
    width: 12vw;
    text-align: center;
}

.list table tbody tr{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 1, 0.232);
    margin: 5px 0;
    font-family: Poppins-REgular;
}
.list table tbody tr td{
    height: 45px;
    background-color: #fff;
    width: 12vw;
}

td,tr{
    text-align: center;
}

.actions mat-icon{
    margin: 0 10px;
}

#edit,
#done {
    color: #26b46a;
}

#delete,
#close {
    color: #da0c3f;
}

::ng-deep .mat-mdc-form-field-bottom-align {
    display: none !important;
}

::ng-deep .mdc-text-field{
    background-color: unset;
}